body {
    background-color: #ffffff;

}

h1 {
    font-size: 40px;  
    max-width: 1000px;
    color: rgb(42, 165, 44);
    text-align: center;
    border: 1px solid rgb(196, 231, 21);
}
h2 {
    font-size: 20px;  
    max-width: 300px;
    text-align: center;

}
p {
    font-size: 10px;  
    color: rgb(0, 0, 0);
    text-align: center;

}

.box {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border: 1px
     #ccc;

    h2 {
        font-size: 20px;  
        width: 300px;
        text-align: center;
    }

    p {
        font-size: 20px;  
        width: 300px;
        text-align: center;
    }

}